/*
 * (c) ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE, Switzerland, VPSI, 2020.
 * See the LICENSE file for more details.
 */

.http-status-code {
  font-size: 5rem;
}

@media (min-width: 576px) {
  .http-status-code {
    font-size: 6rem;
  }
}

@media (min-width: 768px) {
  .http-status-code {
    font-size: 8rem;
  }
}

@media (min-width: 992px) {
  .http-status-code {
    font-size: 10rem;
  }
}

@media (min-width: 1200px) {
  .http-status-code {
    font-size: 12rem;
  }
}
