<div class="footer-light-socials">
  <p class="footer-title footer-title-no-underline">Follow the pulses of EPFL on social networks</p>
  <ul class="social-icon-list list-inline">
    <li>
      <a href="https://www.facebook.com/epflcampus" class="social-icon social-icon-facebook social-icon-negative" rel="noopener" target="_blank">
        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-facebook"></use></svg>
        <span class="sr-only">Follow us on Facebook.</span>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/epfl_en" class="social-icon social-icon-twitter social-icon-negative" rel="noopener" target="_blank">
        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-twitter"></use></svg>
        <span class="sr-only">Follow us on Twitter.</span>
      </a>
    </li>
    <li>
      <a href="https://instagram.com/epflcampus" class="social-icon social-icon-instagram social-icon-negative" rel="noopener" target="_blank">
        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-instagram"></use></svg>
        <span class="sr-only">Follow us on Instagram.</span>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/epflnews" class="social-icon social-icon-youtube social-icon-negative" rel="noopener" target="_blank">
        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-youtube"></use></svg>
        <span class="sr-only">Follow us on Youtube.</span>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/school/epfl/" class="social-icon social-icon-linkedin social-icon-negative" rel="noopener" target="_blank">
        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-linkedin"></use></svg>
        <span class="sr-only">Follow us on LinkedIn.</span>
      </a>
    </li>
  </ul>
</div>
